/** 覆盖Body字体大小  */
body {
  font-size: 15px;
}

/** 左导航菜单字体大小 */
.nav-list > li > a {
  font-size: 15px;
}

/** 内容导航菜单字体大小 */
.breadcrumb {
  font-size: 15px;
}

/** 多选框，表单验证  */
.form-star {
  color : #d68273;
  padding-right: 2px;
}
.form-group.has-error button {
  border-color: #f2a696;
  color: #d68273;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-group.has-error button:focus {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(219, 137, 120, 0.3);
  box-shadow: 0px 0px 0px 2px rgba(219, 137, 120, 0.3);
  color: #ca5f4c;
  border-color: #d77b68;
  background-color: #fef9f8;
}
.form-group.has-error button:focus + .ace-icon {
  color: #d68273;
}

/** ace_file_input不显示文件名  */
.ace-file-input .ace-file-container .ace-file-name:after {
  content: none;
}