<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		
	<!-- 工作的bean -->
	<bean id="userJob" class="com.smart.demo.job.UserJob" />
	
	<!-- job的配置开始 -->
	<bean id="userJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="userJob" />
		</property>
		<property name="targetMethod">
			<value>execute</value>
		</property>
	</bean>
	<!-- job的配置结束 -->
	
	<!-- 调度的配置开始 -->
	<bean id="userJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="userJobDetail" />
		</property>
		<property name="cronExpression">
			<!-- 每隔1分钟执行一次-->
			<value>0 0/1 * * * ?</value>
		</property>
	</bean>
	<!-- 调度的配置结束 -->
	
	<!-- 启动触发器的配置开始 -->
	<bean name="startQuertz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
		lazy-init="false" autowire="no">
		<property name="triggers">
			<list>
				<ref bean="userJobTrigger" />
			</list>
		</property>
	</bean>
	<!-- 启动触发器的配置结束 -->
</beans>