target
*.class
.settings
.classpath
.project

### FOR IDEA 
.idea
*.iml

### FOR JREbel Plugin
rebel.xml
rebel-remote.xml

.rebel.xml.bak
.rebel-remote.xml.bak

### FOR MAC
.DS_Store

catalina.home_IS_UNDEFINED
*.war
