<!-- 文本框 -->
<link rel="stylesheet" href="${request.contextPath}/static/assets/css/jquery-ui.custom.css" />
<!-- 多选框 -->
<link rel="stylesheet" href="${request.contextPath}/static/assets/css/bootstrap-multiselect.css" />
<!-- 颜色选择  -->
<link rel="stylesheet" href="${request.contextPath}/static/assets/css/colorpicker.css" />
<!-- 时间  -->
<link rel="stylesheet" href="${request.contextPath}/static/assets/css/bootstrap-timepicker.css" />
<!-- 日期、日期+时间、日期范围  -->
<link rel="stylesheet" href="${request.contextPath}/static/assets/css/daterangepicker.css" />
<!-- 提示框  -->
<link rel="stylesheet" href="${request.contextPath}/static/assets/css/jquery.gritter.css" />
<!-- 拖拽式单文件上传 -->
<link rel="stylesheet" href="${request.contextPath}/static/assets/css/dropzone.css" />
<link rel="stylesheet" href="${request.contextPath}/static/assets/css/uploadifive.css" />

<!--[if lte IE 8]>
	<script src="${request.contextPath}/static/assets/js/excanvas.js"></script>
<![endif]-->
<script type="text/javascript">
	var scripts = [
		// Form提交Json转换
		"${request.contextPath}/static/custom/jquery.form.min.js",
		// 列表
		"${request.contextPath}/static/custom/jquery.table.min.js?v=" + Math.random(),
		// 时间
		"${request.contextPath}/static/assets/js/date-time/bootstrap-timepicker.js",
		// 时间支持
		"${request.contextPath}/static/assets/js/date-time/moment.js",
		// 时间支持
		"${request.contextPath}/static/assets/js/date-time/i18n/moment.zh-CN.js",
		// 日期范围
		"${request.contextPath}/static/assets/js/date-time/daterangepicker.js",
		// 确认框
		"${request.contextPath}/static/assets/js/bootbox.js",
		"${request.contextPath}/static/custom/assets/bootbox.custom.js",
		// 自动隐藏的提醒框
		"${request.contextPath}/static/assets/js/jquery.gritter.js",
		"${request.contextPath}/static/custom/assets/jquery.gritter.custom.js",
		// UI
		"${request.contextPath}/static/assets/js/jquery-ui.custom.js",
		// 文件上传
		"${request.contextPath}/static/assets/js/dropzone.js",
		"${request.contextPath}/static/assets/js/jquery.uploadifive.min.js",
		"${request.contextPath}/static/custom/ajaxfileupload.js",
		// 验证
		"${request.contextPath}/static/custom/jquery.validate-2.0.min.js",
		"${request.contextPath}/static/custom/jquery.validate-2.0.custom.min.js"
	];
</script>