<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>smart-demo</title>
    </head>
    <body>
        <a href="https://github.com/a466350665/smart" target="_blank"><h2>Hello Smart</h2></a>

        <br/> <b>登录用户名</b>：<span th:text="${userName}" /><br/>

        <br/> <b>登录用户当前应用的菜单</b>：
        <div th:each="menu,menuStat : ${userMenus}">
            <div th:text="${menu.name}"></div>
        </div>

        <br/> <b>登录用户当前应用的权限</b>：
        <div th:each="item,itemStat : ${userPermissions}">
            <div th:text="${item}"></div>
        </div>

        <br/><a th:href="@{${ssologoutUrl}}">单点退出</a>
    </body>
</html>