<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart.sso.server.dao.AppDao">
	<select id="get" parameterType="java.lang.Integer" resultType="App">
     	SELECT * 
     	FROM SYS_APP a
     	WHERE id = #{id}
    </select>
    
	<insert id="insert" parameterType="App" statementType="PREPARED" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO SYS_APP(
			name,
			code,
			sort,
			createTime,
			isEnable
		) 
		VALUES (
			#{name},
			#{code},
			#{sort},
			#{createTime},
			#{isEnable}
		)
	</insert>
	
    <update id="update" parameterType="App" statementType="PREPARED">
		UPDATE SYS_APP a SET
			a.`name` = #{name},
			a.`code` = #{code},
			a.sort = #{sort},
			a.isEnable = #{isEnable}
		WHERE a.`id` = #{id}
	</update>
	
	<update id="enable" parameterType="Map" statementType="PREPARED">
		UPDATE SYS_APP a SET
			a.isEnable = #{isEnable}
		WHERE 1 = 1
		<if test="idList != null">
			AND a.`id` in <foreach collection="idList" item="item" open="(" separator="," close=")">#{item}</foreach>
		</if>
	</update>
	
	<select id="findPaginationByName" parameterType="Map" resultType="App">   
		SELECT * 
     	FROM SYS_APP a
     	WHERE 1 = 1
     	<if test="name != null and name != '' ">
			AND a.name like CONCAT('%',#{name},'%')
		</if>
		<if test="isEnable != null">
			AND a.isEnable = #{isEnable} 
		</if>
     	ORDER BY a.sort DESC, a.createTime DESC 
	</select>
	
	<select id="findByCode" parameterType="Map" resultType="App">   
		SELECT * 
     	FROM SYS_APP a
     	WHERE 1 = 1
		AND a.code = #{code} 
	</select>
	
	<delete id="deleteById" parameterType="list" statementType="PREPARED">
		DELETE FROM SYS_APP
		<choose>
			<when test="list == null or list.size() == 0">
				WHERE 1 != 1
			</when>
			<when test="list.size() == 1">
				WHERE `id` = <foreach collection="list" item="id">#{id}</foreach>
			</when>
			<otherwise>
				WHERE `id` in <foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
			</otherwise>
		</choose>
	</delete>
</mapper>