<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart.sso.server.dao.AppDao">
	<select id="get" parameterType="java.lang.Integer" resultType="App">
     	SELECT * 
     	FROM SYS_APP a
     	WHERE id = #{id}
    </select>
    
	<insert id="save" parameterType="App" statementType="PREPARED" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO SYS_APP(
			name,
			code,
			sort,
			createTime,
			isEnable
		) 
		VALUES (
			#{name},
			#{code},
			#{sort},
			#{createTime},
			#{isEnable}
		)
	</insert>
	
    <update id="update" parameterType="App" statementType="PREPARED">
		UPDATE SYS_APP a SET
			a.`name` = #{name},
			a.`code` = #{code},
			a.sort = #{sort},
			a.isEnable = #{isEnable}
		WHERE a.`id` = #{id}
	</update>
	
	<update id="enable" parameterType="Map" statementType="PREPARED">
		UPDATE SYS_APP a SET
			a.isEnable = #{isEnable}
		WHERE 1 = 1
		<if test="idList != null">
			AND a.`id` in <foreach collection="idList" item="item" open="(" separator="," close=")">#{item}</foreach>
		</if>
	</update>
	
	<select id="findPaginationByName" parameterType="Map" resultType="App">   
		SELECT * 
     	FROM SYS_APP a
     	WHERE 1 = 1
     	<if test="name != null and name != '' ">
			AND a.name like CONCAT('%',#{name},'%')
		</if>
     	ORDER BY a.sort DESC, a.createTime DESC 
	</select>
	
	<select id="findByCode" parameterType="Map" resultType="App">   
		SELECT * 
     	FROM SYS_APP a
     	WHERE 1 = 1
		AND a.code = #{code} 
	</select>
	
	<delete id="deleteById" parameterType="list" statementType="PREPARED">
		DELETE FROM SYS_APP
		WHERE 1 = 1
		<if test="list != null">
			AND `id` in <foreach collection="list" item="item" open="(" separator="," close=")">#{item}</foreach>
		</if>
	</delete>
	
	<select id="findByUserId" parameterType="Map" resultType="App">   
		SELECT * 
     	FROM SYS_APP a
     	WHERE 1 = 1
     	AND a.isEnable = #{isEnable}
     	<if test="userId != null and userId != '' ">
			AND EXISTS (SELECT 1
		                  FROM SYS_RE_USER_APP ua
		                 WHERE ua.appId = a.id
		                   AND ua.userId = #{userId})
		</if>
     	ORDER BY a.sort DESC, a.createTime DESC 
	</select>
	
	<select id="findAppCodeByUserId" parameterType="Map" resultType="String">   
     	SELECT a.code
		FROM SYS_APP a
		WHERE a.isEnable = #{isEnable}
		<if test="userId != null and userId != '' ">
			AND EXISTS (
				SELECT 1
				FROM SYS_RE_USER_APP ua
				WHERE ua.appId = a.id
					AND ua.userId = #{userId}
				)
		</if>
	</select>
</mapper>