<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans.xsd
	       http://www.springframework.org/schema/context
	       http://www.springframework.org/schema/context/spring-context.xsd
	       http://www.springframework.org/schema/aop
	       http://www.springframework.org/schema/aop/spring-aop.xsd
	       http://www.springframework.org/schema/tx 
	       http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:annotation-config />

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="fileEncoding" value="UTF-8" />
		<property name="locations">
			<list>
				<!--当前应用参数配置 -->
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="smartFilter" class="com.smart.sso.client.SmartContainer">
		<property name="ssoServerUrl" value="${sso.server.url}" />
		<property name="filters">
			<list>
				<!-- 单点登录 -->
				<bean class="com.smart.sso.client.filter.SsoFilter"/>
				<!-- 权限控制(选配) -->
				<bean class="com.smart.sso.client.filter.PermissionFilter">
					<property name="ssoAppCode" value="${sso.app.code}" />
				</bean>
			</list>
		</property>
	</bean>
</beans>
