<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans.xsd
	       http://www.springframework.org/schema/context
	       http://www.springframework.org/schema/context/spring-context.xsd
	       http://www.springframework.org/schema/aop
	       http://www.springframework.org/schema/aop/spring-aop.xsd
	       http://www.springframework.org/schema/tx 
	       http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:annotation-config />

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="fileEncoding" value="UTF-8" />
		<property name="locations">
			<list>
				<!--服务参数配置(Zookeeper、MQ、Redis相关)
				<value>classpath:service.properties</value>
				 -->
				<!--当前应用参数配置 -->
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="smartFilter" class="com.smart.sso.client.SmartContainer">
		<property name="ssoServerUrl" value="${sso.server.url}" />
		<property name="authenticationRpcService" ref="authenticationRpcService" />
		<property name="filters">
			<list>
				<!-- 单点退出(选配) -->
				<bean class="com.smart.sso.client.LogoutFilter">
					<property name="pattern" value="/logout" />
					<property name="ssoBackUrl" value="/index" />
				</bean>
				<!-- 单点登录 -->
				<bean class="com.smart.sso.client.SsoFilter"/>
				<!-- 权限控制(选配) -->
				<bean class="com.smart.sso.client.PermissionFilter">
					<property name="ssoAppCode" value="${sso.app.code}" />
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- 以下为Hessian和Dubbo提供Token验证和授权RPC服务，二选一即可，默认Hessian -->
	<!-- Hessian -->
	<bean id="authenticationRpcService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl" value="${sso.server.url}/rpc/authenticationRpcService" />
		<property name="serviceInterface" value="com.smart.sso.rpc.AuthenticationRpcService" />
	</bean>
	<!-- Dubbo
	<import resource="dubbo-consumer.xml" />
	 -->

	<!--redis : 用于部署多JVM实例时，RedisSession覆盖HttpSession实现Session共享
	<import resource="classpath:spring-redis-sso.xml" />
	 -->
	<!--activeMQ : 用于权限有修改时，异步通知应用更新权限
	<import resource="classpath:spring-mq-sso.xml" />
	 -->
</beans>
