<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans.xsd
	       http://www.springframework.org/schema/mvc
    	   http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!-- 拦截器 -->
	<mvc:interceptors>
		<!-- SSO拦截 -->
		<mvc:interceptor>
	        <mvc:mapping path="/admin/**"/>
	        <bean class="com.smart.sso.client.SsoInterceptor" />
	    </mvc:interceptor>
	    <!-- 权限拦截 -->
		<mvc:interceptor>
	        <mvc:mapping path="/admin/**"/>
	        <bean class="com.smart.sso.client.PermissionInterceptor">
				<property name="unauthorizedUrl" value="/common/common/noPermission" />
	        </bean>
	    </mvc:interceptor>
	</mvc:interceptors>
	
	<import resource="spring-mvc.xml" />
</beans>