<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans.xsd
	       http://www.springframework.org/schema/mvc
	       http://www.springframework.org/schema/mvc/spring-mvc.xsd
	       http://www.springframework.org/schema/context
	       http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Controller扫描包 -->
	<context:component-scan base-package="com.smart.sso.server.controller" />

		<!-- 自定义Json解析器 -->
	<mvc:annotation-driven>
		<mvc:argument-resolvers>
			<bean class="com.smart.mvc.resovler.MethodArgumentResovler" />
		</mvc:argument-resolvers>
		<mvc:message-converters>
			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 自定义异常处理 -->
	<bean id="exceptionResolver" class="com.smart.mvc.resovler.ExceptionResolver" />
	
	<!-- 视图解析器 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 默认跳转用户首页，因为没有权限会跳转至登录页 -->
	<mvc:view-controller path="/" view-name="redirect:admin/admin" />

	<!-- Swagger文档 -->
	<bean id="swagger2Config" class="com.smart.sso.server.common.SwaggerConfig" />
	<mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/" />
	<mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/" />
	
	<!-- 前端脚本和样式 -->
	<mvc:resources mapping="/smart-static/**" location="/smart-static/"/>
</beans>