<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans.xsd
	       http://www.springframework.org/schema/mvc
	       http://www.springframework.org/schema/mvc/spring-mvc.xsd
	       http://www.springframework.org/schema/context
	       http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Controller扫描包 -->
	<context:component-scan base-package="com.smart.sso.server.controller" />

	<!-- 引入SpringMVC基础相关 -->
	<import resource="classpath:spring-mvc.xml" />
	
	<!-- 默认跳转用户首页，因为没有权限会跳转至登录页 -->
	<mvc:view-controller path="/" view-name="redirect:admin/admin" />

	<!-- Swagger文档 -->
	<bean id="swagger2Config" class="com.smart.sso.server.common.SwaggerConfig" />
	<mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/" />
	<mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/" />
	
	<!-- 前端脚本和样式 -->
	<mvc:resources mapping="/smart-static/**" location="/smart-static/"/>
</beans>