<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	       http://www.springframework.org/schema/beans/spring-beans.xsd
	       http://www.springframework.org/schema/context
		   http://www.springframework.org/schema/context/spring-context.xsd">
		   
    <context:component-scan base-package="com.smart.mvc.mybatis.demo.service"/>
    
    <bean class="com.smart.mvc.config.ConfigUtils">
    	<property name="fileEncoding" value="UTF-8" />
		<property name="locations">
			<list>
				<!--数据库参数配置-->
				<value>classpath:jdbc.properties</value>
				<!--远程服务参数配置-->
				<value>classpath:service.properties</value>
				<!--当前应用参数配置-->
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
</beans>